@import '../../utils/mixins.scss';
@import '../../utils/variables.scss';

@mixin iconsAnimation($child) {
    @for $i from 1 through 5 {
        a:#{$child}(#{$i}) {
            opacity: 0;

            @include keyframes(appear) {
                0% {
                    opacity: 0;
                    transform: rotate(-320deg);
                }
                100% {
                    opacity: 1;
                    transform: rotate(-360deg);
                }
            }

            @include animate(appear, .5s, ease-in-out, 1);
            animation-delay: calc(1s * #{$i} / 2);
            animation-fill-mode: forwards;
        }
    }
}

#social {
    position: fixed;
    z-index: 5;
    
    &.vertical {
        left: 6em;
        bottom: 0;
        
        div {
            flex-direction: column;
            margin-bottom: 1em;
            transform: translateX(-50%);

            // @include iconsAnimation('nth-last-child')
        }

        span {
            width: 1px;
            height: 20em;
            border-left: solid 1px $blue;
        }
    }

    &.horizontal {
        left: 0;
        top: 3em;
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: nowrap;

        div {
            margin-left: 1em;
            transform: translateY(-50%);

            // @include iconsAnimation('nth-child')
        }

        span {
            height: 1px;
            width: 20em;
            border-top: solid 1px $blue;
        }
    }

    div {
        color: $blue;
        display: flex;
        gap: 1em;

        img {
            width: 1.5em;
            height: 1.5em;

            &:hover {
                filter: brightness(0) invert(1);
                transform: scale(1.2);
            }
        }
    }

    span {
        display: block;
    }
}
