@import '../../utils/variables.scss';

#social {
    position: fixed;
    z-index: 5;
    
    &.vertical {
        left: 6em;
        bottom: 0;
        
        div {
            flex-direction: column;
            margin-bottom: 1em;
            transform: translateX(-50%);
        }

        span {
            width: 1px;
            height: 20em;
            border-left: solid 1px $blue;
        }
    }

    &.horizontal {
        left: 0;
        top: 3em;
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: nowrap;

        div {
            margin-left: 1em;
            transform: translateY(-50%);
        }

        span {
            height: 1px;
            width: 20em;
            border-top: solid 1px $blue;
        }
    }

    div {
        color: $blue;
        display: flex;
        gap: 1em;

        img {
            width: 1.5em;
            height: 1.5em;

            &:hover {
                filter: brightness(0) invert(1);
                transform: scale(1.2);
            }
        }
    }

    span {
        display: block;
    }
}
