@import '../../utils/variables.scss';
@import '../../utils/mixins.scss';

#portfolio {
    position: relative;
    width: 100vw;
    min-height: 100vh;
    background-color: #242424;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
}