@import '../../utils/variables.scss';
@import '../../utils/mixins.scss';
@import '../../utils/utilities.scss';

#portfolio {
    @extend .section-full;
    position: relative;
    min-height: 100vh;
    background-color: #242424;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
